body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: auto;

}

.caja_1 {
    border: none;
    color: #0b0101;
    text-align: left;
    padding: 1%;
    font-family: Roboto;
    font-size: 1em;
    background-color: rgb(224, 235, 249);
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

/*cards de productos*/
.informacion-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;*/
}

.card {
    box-shadow: 0 4 px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: justify;
    font-family: arial;
}

.card>img {
    width: 100%;
    height: 250px;
}

.h3 {
    color: grey;
    font-size: 22px;
}

