body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, h3{
    text-align: center;
}

.content{
    width: 30%;
    margin: 0 auto;
}

canvas{
    max-width: 90%;
}
/*
.column {
    display: inline-block;
    width: 24%;
    padding: 5px;
  }*/